.header {
	background-color: $white;
	color: $black;
}

.header-nav {}

.header-nav-list {
	display: flex;
	justify-content: space-around;
	list-style: none;
	margin: 0;

	a {
		font-weight: 700;
		color: $black;
		text-transform: uppercase;
	}
}
